Repository centreon/drawio, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-pipelines, @centreon/owners-react, @centreon/owners-java

enh(ci): add consistent labels
  .github/dependabot.yml
Owners: @centreon/owners-pipelines

hid fill selector for output without background ot test status
  src/main/webapp/js/grapheditor/Format.js
Owners: @centreon/owners-react

fix
  src/main/webapp/js/grapheditor/Format.js
Owners: @centreon/owners-react

delete dash selector in Fill
  src/main/webapp/js/grapheditor/Format.js
Owners: @centreon/owners-react

Revert "enh(map): delete fontSize selector in TextFormatPanel and change the default value to 16 px (#118)"
  src/main/webapp/js/diagramly/Editor.js
  src/main/webapp/js/grapheditor/Format.js
  src/main/webapp/js/grapheditor/Graph.js
Owners: @centreon/owners-react

enh(ci): modify dependabot configuration
  .github/dependabot.yml
Owners: @centreon/owners-pipelines

generate .min files
  src/main/webapp/js/viewer-static.min.js
  src/main/webapp/js/viewer.min.js
Owners: @centreon/owners-react

enh(ci): add veracode scans
  .github/actions/veracode-create-jira-ticket/action.yml
  .github/actions/veracode-generate-binary/action.yml
  .github/workflows/drawio.yml
  .github/workflows/veracode-analysis.yml
  .veracode-exclusions
Owners: @centreon/owners-pipelines

rename develop
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

chore(ci): make gha versions immutable
  .github/workflows/codeql-analysis.yml
  .github/workflows/war.yml
Owners: @centreon/owners-pipelines

remove useless
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

fix(ci): ticket creation on failure
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

upgrade gha
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

fix(ci): remove component name and test
  .github/actions/veracode-create-jira-ticket/action.yml
Owners: @centreon/owners-pipelines

exclude draft pr
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

chore(ci): correct empty component name
  .github/actions/veracode-create-jira-ticket/action.yml
Owners: @centreon/owners-pipelines

block width and height change under 84 px
  src/main/webapp/js/extensions.min.js
  src/main/webapp/js/grapheditor/Format.js
  src/main/webapp/js/orgchart.min.js
  src/main/webapp/js/shapes-14-6-5.min.js
  src/main/webapp/js/viewer-static.min.js
  src/main/webapp/js/viewer.min.js
Owners: @centreon/owners-react

enh(ci): enhance QG exception manangement
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

fix
  src/main/webapp/js/diagramly/Editor.js
  src/main/webapp/js/extensions.min.js
  src/main/webapp/js/grapheditor/Format.js
  src/main/webapp/js/orgchart.min.js
  src/main/webapp/js/shapes-14-6-5.min.js
  src/main/webapp/js/viewer-static.min.js
  src/main/webapp/js/viewer.min.js
Owners: @centreon/owners-react

disbale the block for basic shapes
  src/main/webapp/js/grapheditor/Format.js
Owners: @centreon/owners-react

delete comments
  src/main/webapp/js/grapheditor/Format.js
Owners: @centreon/owners-react

fix(ci): correct promote condition
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

Update .github/workflows/veracode-analysis.yml
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

delete html tags from value
  src/main/webapp/js/diagramly/Pages.js
  src/main/webapp/js/grapheditor/Actions.js
  src/main/webapp/js/viewer-static.min.js
  src/main/webapp/js/viewer.min.js
Owners: @centreon/owners-react

update
  .github/workflows/veracode-analysis.yml
  src/main/webapp/js/diagramly/Editor.js
  src/main/webapp/js/grapheditor/Format.js
  src/main/webapp/js/viewer-static.min.js
  src/main/webapp/js/viewer.min.js
Owners: @centreon/owners-pipelines, @centreon/owners-react

delete html tags from value
  src/main/webapp/js/diagramly/Pages.js
  src/main/webapp/js/grapheditor/Actions.js
  src/main/webapp/js/viewer-static.min.js
  src/main/webapp/js/viewer.min.js
Owners: @centreon/owners-react

chore(ci): override veracode 3rd party ignore
  veracode.json
Owners: none

add display label to container
  src/main/webapp/js/grapheditor/Actions.js
  src/main/webapp/js/viewer-static.min.js
  src/main/webapp/js/viewer.min.js
Owners: @centreon/owners-react

fix(ci): correct jira incident ticket duplication
  .github/actions/veracode-create-jira-ticket/action.yml
Owners: @centreon/owners-pipelines

Add possibility to display status as bg color for resource in weather style
  src/main/webapp/js/grapheditor/Actions.js
  src/main/webapp/js/viewer-static.min.js
  src/main/webapp/js/viewer.min.js
Owners: @centreon/owners-react

do not merge - collect binary
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

sandbox
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

chore(ci): exclude files from analysis
  .veracode-exclusions
Owners: none

test
  src/deleteMe
Owners: none

copy/paste check status workflow onto drawio
  .github/workflows/check-status.yml
Owners: @centreon/owners-pipelines

replaced by github repository variable
  .github/workflows/check-status.yml
Owners: @centreon/owners-pipelines

enh(ci): deploy analysis conditional skip
  .github/workflows/drawio.yml
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

to revert
  deleteME
Owners: none

fix
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

upgrade
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

.github/CODEOWNERS:

.github/**          @centreon/owners-pipelines

*.js                @centreon/owners-react
packag*.json        @centreon/owners-react

*.xml               @centreon/owners-java

src/main/java       @centreon/owners-java
src/main/webapp     @centreon/owners-react
