Repository centreon/drawio, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-pipelines, @centreon/owners-react, @centreon/owners-java

upgrade actions
  .github/actions/veracode-generate-binary/action.yml
  .github/workflows/veracode-analysis.yml
  .github/workflows/war.yml
Owners: @centreon/owners-pipelines

Revert "to revert"
  deleteME
Owners: none

revert out of scope action's upgrade
  .github/workflows/war.yml
Owners: @centreon/owners-pipelines

fix
  .github/workflows/check-status.yml
Owners: @centreon/owners-pipelines

fix(ci): fix runner used for check-status workflow
  .github/workflows/check-status.yml
Owners: @centreon/owners-pipelines

do not merge
  src/main/webapp/js/freehand/perfect-freehand.js
Owners: @centreon/owners-react

chore(ci): upgrade action to fix dependabot alert
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

chore(ci): upgrade pipeline scan action to 1.0.16
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

fix
  src/main/webapp/js/grapheditor/Actions.js
Owners: @centreon/owners-react

min files
  src/main/webapp/js/extensions.min.js
  src/main/webapp/js/orgchart.min.js
  src/main/webapp/js/viewer-static.min.js
  src/main/webapp/js/viewer.min.js
Owners: @centreon/owners-react

chore(ci): limit ticket creation condition
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

do not merge - consultation request
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

add new font
  src/main/webapp/js/diagramly/Dialogs.js
  src/main/webapp/js/diagramly/Editor.js
  src/main/webapp/js/diagramly/Menus.js
  src/main/webapp/js/extensions.min.js
  src/main/webapp/js/grapheditor/Menus.js
  src/main/webapp/js/orgchart.min.js
  src/main/webapp/js/viewer-static.min.js
  src/main/webapp/js/viewer.min.js
Owners: @centreon/owners-react

change default value
  src/main/webapp/js/grapheditor/EditorUi.js
  src/main/webapp/js/grapheditor/Format.js
  src/main/webapp/js/grapheditor/Menus.js
  src/main/webapp/js/viewer-static.min.js
  src/main/webapp/js/viewer.min.js
  src/main/webapp/styles/default.xml
Owners: @centreon/owners-react

test(ci): force java analysis
  .github/actions/veracode-generate-binary/action.yml
Owners: @centreon/owners-pipelines

to revert
  .github/workflows/codeql-analysis.yml
  .github/workflows/veracode-analysis.yml
  .github/workflows/war.yml
  src/main/delete.Me
Owners: @centreon/owners-pipelines

Update .github/actions/veracode-generate-binary/action.yml
  .github/actions/veracode-generate-binary/action.yml
Owners: @centreon/owners-pipelines

Update .github/actions/veracode-generate-binary/action.yml
  .github/actions/veracode-generate-binary/action.yml
Owners: @centreon/owners-pipelines

Update .github/actions/veracode-generate-binary/action.yml
  .github/actions/veracode-generate-binary/action.yml
Owners: @centreon/owners-pipelines

fix
  src/main/webapp/js/grapheditor/Graph.js
Owners: @centreon/owners-react

min files
  src/main/webapp/js/viewer-static.min.js
  src/main/webapp/js/viewer.min.js
Owners: @centreon/owners-react

trigger sandbox
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

move
  .github/actions/veracode-generate-binary/action.yml
Owners: @centreon/owners-pipelines

moveMove
  .github/actions/veracode-generate-binary/action.yml
Owners: @centreon/owners-pipelines

fix(ci): add attempt number in sandbox name
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

fix
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

enh(ci): do not comment PR on QG override
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

enh(ci): get run attempt in incident ticket link
  .github/actions/veracode-create-jira-ticket/action.yml
Owners: @centreon/owners-pipelines

enh(ci): skip SAST analysis on feature branches
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

fix(map): disable output label in editor
  src/main/webapp/js/grapheditor/Actions.js
Owners: @centreon/owners-react

fix(map): disable output label in editor (.min files)
  src/main/webapp/js/viewer-static.min.js
  src/main/webapp/js/viewer.min.js
Owners: @centreon/owners-react

fix image url
  src/main/webapp/js/diagramly/EditorUi.js
  src/main/webapp/js/viewer-static.min.js
  src/main/webapp/js/viewer.min.js
Owners: @centreon/owners-react

add widgets label props
  src/main/webapp/js/grapheditor/Actions.js
Owners: @centreon/owners-react

enh(drawio - map): add checkbox
  src/main/webapp/js/extensions.min.js
  src/main/webapp/js/grapheditor/Actions.js
  src/main/webapp/js/orgchart.min.js
  src/main/webapp/js/viewer-static.min.js
  src/main/webapp/js/viewer.min.js
Owners: @centreon/owners-react

enh(drawio-map): Weather style resource: status as bg-color (#170)
  src/main/webapp/js/extensions.min.js
  src/main/webapp/js/grapheditor/Actions.js
  src/main/webapp/js/orgchart.min.js
  src/main/webapp/js/viewer-static.min.js
  src/main/webapp/js/viewer.min.js
Owners: @centreon/owners-react

add label widget attribut
  src/main/webapp/js/extensions.min.js
  src/main/webapp/js/grapheditor/Actions.js
  src/main/webapp/js/orgchart.min.js
  src/main/webapp/js/viewer-static.min.js
  src/main/webapp/js/viewer.min.js
Owners: @centreon/owners-react

add label widget attribut (#171)
  src/main/webapp/js/extensions.min.js
  src/main/webapp/js/grapheditor/Actions.js
  src/main/webapp/js/orgchart.min.js
  src/main/webapp/js/viewer-static.min.js
  src/main/webapp/js/viewer.min.js
Owners: @centreon/owners-react

update dompurify
  etc/dependencies/package.json
  src/main/webapp/js/extensions.min.js
  src/main/webapp/js/orgchart.min.js
  src/main/webapp/js/sanitizer/purify.min.js
  src/main/webapp/js/viewer-static.min.js
  src/main/webapp/js/viewer.min.js
Owners: @centreon/owners-react

update mermaid to v 10.9.3
  etc/dependencies/package.json
  src/main/webapp/js/mermaid/mermaid.min.js
Owners: @centreon/owners-react

update mermaid to v 10.9.3 (#174)
  etc/dependencies/package.json
  src/main/webapp/js/mermaid/mermaid.min.js
Owners: @centreon/owners-react

.github/CODEOWNERS:

.github/**          @centreon/owners-pipelines

*.js                @centreon/owners-react
packag*.json        @centreon/owners-react

*.xml               @centreon/owners-java

src/main/java       @centreon/owners-java
src/main/webapp     @centreon/owners-react
